<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>IntelEdu</mat-card-title>
    <mat-card-subtitle>Juegos Interactivos</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-grid-list cols="4" rowHeight="5:0.9" class="mat-gridexample">

      <mat-grid-tile class="example-tile" appearance="outline" rowspan="7">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="assets/images/Juegocarros.png" alt="Juego Salvaje de Carritos xd" >
          <mat-card-content>
            <p>
              Juego sobre tratar de evadir obstaculos manejando un carrito animado con las teclas de dirección
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="accent" [routerLink]="'/panel/biblioteca/juegos/juego1'">Jugar</button>
            <button mat-button [routerLink]="'/panel/biblioteca/juegos/puntajes'">Puntajes</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile class="example-tile" appearance="outline" rowspan="7">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="assets/images/cardsu.png" alt="Juego Salvaje de Carritos xd">
          <mat-card-content>
            <p>
              Juego sobre tratar de encontrar los pares de cada carta
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="accent" [routerLink]="'/panel/biblioteca/juegos/juego2'">Jugar</button>
            <button mat-button [routerLink]="'/panel/biblioteca/juegos/puntajes'">Puntajes</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile class="example-tile" appearance="outline" rowspan="7">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="assets/images/sopa.png" alt="Juego Salvaje de Carritos xd">
          <mat-card-content>
            <p>
              El juego trata sobre encontrar las palabras escondidas
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="accent" [routerLink]="'/panel/biblioteca/juegos/juego3'">Jugar</button>
            <button mat-button [routerLink]="'/panel/biblioteca/juegos/puntajes'">Puntajes</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile class="example-tile" appearance="outline" rowspan="7">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="assets/images/suma.png" alt="Juego Salvaje de Carritos xd">
          <mat-card-content>
            <p>
              El juego trata sobre de digitar las respuestas correctas 
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="accent" [routerLink]="'/panel/biblioteca/juegos/juego4'">Jugar</button>
            <button mat-button [routerLink]="'/panel/biblioteca/juegos/puntajes'">Puntajes</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile class="example-tile" appearance="outline" rowspan="7">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              Juego 5
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="accent">Jugar</button>
            <button mat-button>Puntajes</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile class="example-tile" appearance="outline" rowspan="7">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              Juego x
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="accent">Jugar</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>


    </mat-grid-list>
  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>
