
  <mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>IntelEdu</mat-card-title>
    <mat-card-subtitle>Juegos Interactivos</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-grid-list cols="4" rowHeight="5:0.9" class="mat-gridexample">

      <mat-grid-tile class="example-tile" appearance="outline" rowspan="7">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Inteljuego</mat-card-title>
            <mat-card-subtitle>1</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="assets/images/Juegocarros.png" alt="Juego Salvaje de Carritos xd" >
          <mat-card-content>
            <p>
              Juego sobre tratar de evadir obstaculos manejando un carrito animado con las teclas de dirección
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="accent" [routerLink]="'/panel/biblioteca/juegos/juego1'">Jugar</button>
            <button mat-button [routerLink]="'/panel/biblioteca/juegos/puntajes'">Puntajes</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile class="example-tile" appearance="outline" rowspan="7">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Inteljuego</mat-card-title>
            <mat-card-subtitle>2</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="assets/images/cardsu.png" alt="Juego Salvaje de Carritos xd">
          <mat-card-content>
            <p>
              Juego sobre tratar de encontrar los pares de cada carta
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="accent" [routerLink]="'/panel/biblioteca/juegos/juego2'">Jugar</button>
            <button mat-button [routerLink]="'/panel/biblioteca/juegos/puntajes'">Puntajes</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile class="example-tile" appearance="outline" rowspan="7">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Inteljuego</mat-card-title>
            <mat-card-subtitle>3</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="assets/images/sopa.png" alt="Juego Salvaje de Carritos xd">
          <mat-card-content>
            <p>
              El juego trata sobre encontrar las palabras escondidas
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="accent" [routerLink]="'/panel/biblioteca/juegos/juego3'">Jugar</button>
            <button mat-button [routerLink]="'/panel/biblioteca/juegos/puntajes'">Puntajes</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile class="example-tile" appearance="outline" rowspan="7">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Inteljuego</mat-card-title>
            <mat-card-subtitle>4</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="assets/images/suma.png" alt="Juego Salvaje de Carritos xd">
          <mat-card-content>
            <p>
              El juego trata sobre de digitar las respuestas correctas 
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="accent" [routerLink]="'/panel/biblioteca/juegos/juego4'">Jugar</button>
            <button mat-button [routerLink]="'/panel/biblioteca/juegos/puntajes'">Puntajes</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile class="example-tile" appearance="outline" rowspan="7">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Inteljuego</mat-card-title>
            <mat-card-subtitle>5</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="assets/images/suma2.png" alt="Photo of a Inteljuego">
          <mat-card-content>
            <p>
              El juego trata sobre de digitar las respuestas correctas 
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="accent" [routerLink]="'/panel/biblioteca/juegos/juego5'">Jugar</button>
            <button mat-button [routerLink]="'/panel/biblioteca/juegos/puntajes'">Puntajes</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile class="example-tile" appearance="outline" rowspan="7">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Inteljuego</mat-card-title>
            <mat-card-subtitle>6</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="assets/images/mate3.png" alt="Photo of a Inteljuego">
          <mat-card-content>
            <p>
              El juego trata sobre de digitar las respuestas correctas 
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="accent" [routerLink]="'/panel/biblioteca/juegos/juego6'">Jugar</button>
            <button mat-button [routerLink]="'/panel/biblioteca/juegos/puntajes'">Puntajes</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile class="example-tile" appearance="outline" rowspan="7">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Inteljuego</mat-card-title>
            <mat-card-subtitle>7</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="assets/images/mate4.png" alt="Photo of a Inteljuego">
          <mat-card-content>
            <p>
              El juego trata sobre de digitar las respuestas correctas 
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="accent" [routerLink]="'/panel/biblioteca/juegos/juego7'">Jugar</button>
            <button mat-button [routerLink]="'/panel/biblioteca/juegos/puntajes'">Puntajes</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile class="example-tile" appearance="outline" rowspan="7">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Inteljuego</mat-card-title>
            <mat-card-subtitle>8</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="assets/images/mate5.png" alt="Photo of a Inteljuego">
          <mat-card-content>
            <p>
              El juego trata sobre de digitar las respuestas correctas 
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="accent" [routerLink]="'/panel/biblioteca/juegos/juego8'">Jugar</button>
            <button mat-button [routerLink]="'/panel/biblioteca/juegos/puntajes'">Puntajes</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile class="example-tile" appearance="outline" rowspan="7">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Inteljuego</mat-card-title>
            <mat-card-subtitle>9</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="assets/images/mate6.png" alt="Photo of a Inteljuego">
          <mat-card-content>
            <p>
              El juego trata sobre de digitar las respuestas correctas 
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="accent" [routerLink]="'/panel/biblioteca/juegos/juego9'">Jugar</button>
            <button mat-button [routerLink]="'/panel/biblioteca/juegos/puntajes'">Puntajes</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile class="example-tile" appearance="outline" rowspan="7">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Inteljuego</mat-card-title>
            <mat-card-subtitle>10</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="assets/images/mate7.png" alt="Photo of a Inteljuego">
          <mat-card-content>
            <p>
              El juego trata sobre de digitar las respuestas correctas 
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="accent" [routerLink]="'/panel/biblioteca/juegos/juego10'">Jugar</button>
            <button mat-button [routerLink]="'/panel/biblioteca/juegos/puntajes'">Puntajes</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile class="example-tile" appearance="outline" rowspan="7">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Inteljuego</mat-card-title>
            <mat-card-subtitle>11</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="assets/images/mate8.png" alt="Photo of a Inteljuego">
          <mat-card-content>
            <p>
              El juego trata sobre de digitar las respuestas correctas 
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="accent" [routerLink]="'/panel/biblioteca/juegos/juego11'">Jugar</button>
            <button mat-button [routerLink]="'/panel/biblioteca/juegos/puntajes'">Puntajes</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile class="example-tile" appearance="outline" rowspan="7">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Inteljuego</mat-card-title>
            <mat-card-subtitle>12</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="assets/images/mate9.png" alt="Photo of a Inteljuego">
          <mat-card-content>
            <p>
              El juego trata sobre de digitar las respuestas correctas 
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="accent" [routerLink]="'/panel/biblioteca/juegos/juego12'">Jugar</button>
            <button mat-button [routerLink]="'/panel/biblioteca/juegos/puntajes'">Puntajes</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile class="example-tile" appearance="outline" rowspan="7">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Inteljuego</mat-card-title>
            <mat-card-subtitle>13</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="assets/images/mate10.png" alt="Photo of a Inteljuego">
          <mat-card-content>
            <p>
              El juego trata sobre de digitar las respuestas correctas 
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="accent" [routerLink]="'/panel/biblioteca/juegos/juego13'">Jugar</button>
            <button mat-button [routerLink]="'/panel/biblioteca/juegos/puntajes'">Puntajes</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile class="example-tile" appearance="outline" rowspan="7">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Inteljuego</mat-card-title>
            <mat-card-subtitle>14</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="assets/images/mate11.png" alt="Photo of a Inteljuego">
          <mat-card-content>
            <p>
              El juego trata sobre de digitar las respuestas correctas 
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="accent" [routerLink]="'/panel/biblioteca/juegos/juego14'">Jugar</button>
            <button mat-button [routerLink]="'/panel/biblioteca/juegos/puntajes'">Puntajes</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile class="example-tile" appearance="outline" rowspan="7">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Inteljuego</mat-card-title>
            <mat-card-subtitle>15</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="assets/images/mate12.png" alt="Photo of a Inteljuego">
          <mat-card-content>
            <p>
              El juego trata sobre de digitar las respuestas correctas 
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="accent" [routerLink]="'/panel/biblioteca/juegos/juego15'">Jugar</button>
            <button mat-button [routerLink]="'/panel/biblioteca/juegos/puntajes'">Puntajes</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>


    </mat-grid-list>
  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>
